body {font-family: "Courier New", Courier, monospace;background-color:#ccc;color:#000;margin:0px;}
#feedbackForm {display:none;position:fixed; bottom:0; right:0;background-color:#eee;}
#footer {margin-top: 20px;text-align: center;}
#footer a {color: #000;}
#closeBtn {color: #000; float: right; margin-right: 5px; margin-top: 5px; font-size: 20px; text-decoration: none; padding: 0px 3px 0px 3px; }
.feedback{ position: fixed; bottom: -2px; right: 25px; background-color:#ededed; border:2px solid #a6a6a6; display:inline-block; color:#777777; font-family:Arial; font-size:16px; font-weight:bold; height:36px; line-height:36px; width:258px; text-decoration:none; text-align:center; text-shadow:0px 0px 0px #ffffff; }
.feedback:hover { background-color:#dfdfdf; }
header {text-align:center; padding-top:10px; z-index:10;}
.tbl a {cursor:url(img/cursor.gif),auto;color:#fff;} .tbl a:link {text-decoration:none;} .tbl a:visited {text-decoration:none;} .tbl a:hover {text-decoration:underline;} .tbl a:active {text-decoration:underline;}
.pattern { background: url(img/pattern.png); position: fixed; height: 100%; width: 100%; top: 0; z-index: -2; }
.tbl {float:left; padding: 5px 20px 5px 20px;}
.tbl tr td {text-align:center;padding:3px;font-size:17px;}
#maintbl {margin: 0 auto;}
.tbl table { overflow:hidden; border:1px solid #d3d3d3; background:#fefefe; width: 250px; padding-bottom: 15px; margin:5% auto 0; -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); background: url(img/floatbox_bg.png); border: 3px solid #81a7b2; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; -moz-background-clip: padding-box; -webkit-background-clip: padding-box; background-clip: padding-box; }
.new {padding-left:5px;max-height:18px;vertical-align: bottom;width:24px;height:24px;}
@media only screen and (max-width: 520px){
#maintbl{text-align:center;width:100%}
.tbl {display:inline-block;width:100%;float:none;padding: 0;}
header img{width:100%;height:100px;}}
#noticeContainer {font-size:14px;text-align:center;}
