body {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300;
}
header {text-align:center; padding-top:10px; z-index:10;}
a {cursor:url(cursor.gif),auto;color:#fff;} a:link {text-decoration:none;} a:visited {text-decoration:none;} a:hover {text-decoration:underline;} a:active {text-decoration:underline;}

.pattern { background: url(pattern.png); position: fixed; height: 100%; width: 100%; top: 0; z-index: -2; }

.tbl {float:left; padding: 5px 20px 5px 20px;} 
.tbl tr td {text-align:center;padding:3px;font-size:17px;}
#maintbl {margin: 0 auto;}
.tbl table {
  overflow:hidden;
  border:1px solid #d3d3d3;
  background:#fefefe;
  width: 250px;
  padding-bottom: 15px;
  margin:5% auto 0;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: url(floatbox_bg.png);
  border: 3px solid #81a7b2;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.new {padding-left:5px;max-height:18px;vertical-align: bottom;width:24px;height:24px;}
